#footer {
	color:#9999FF;
}

#footer .text-center {
	padding-top: 10px;
	font-size: 15px;
}
.navbar-inverse {
	background-color: #9999FF;
}

.navbar-inverse .navbar-brand {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;;
	font-weight: 700;
	letter-spacing: 2px;

	color: white;
}

.navbar-inverse .navbar-nav > li > a {

	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;;
    font-weight: 700;

	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #222222;
}

#my_img {
    border-radius: 50%;
}

#welcome { 
	padding-top: 20px;
	padding-bottom: 70px;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif; }

.text-center h1 {
	padding-bottom: 20px;
	font-size: 50px;}

.navbar-fixed-bottom {
	background-color: #E6E6FF;
}

#blogHeader {
	margin-bottom: 20px;
}
span{
    margin-right: 10px;
}
.col-md-8{
	background-color: gray;
}

.blogImg {
    width: 100%;
    margin-bottom: 10px;
}

.userImg {
  position: absolute;
  border-radius: 50%;
  bottom: -25px;
  left: 45px;
  height: 60px;
  width: 60px;
}

.postInfo {
	margin-bottom: 20px;
}
#blogHeader {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

#blog_posts {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}