
#footer .text-center {
	padding-top: 10px;
	font-size: 15px;
}
#navigation {
	background-color: #9999FF;
	font-family: 'Josefin Sans', sans-serif;


}


.navbar-inverse .navbar-brand {
	font-family: 'Josefin Sans', sans-serif;

	font-weight: 700;
	letter-spacing: 2px;

	color: white;
}

.navbar-inverse .navbar-nav > li > a {

	font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;

	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: purple;
}

#my_img {
    border-radius: 50%;
}

#about { 

	font-family: 'Josefin Sans', sans-serif;
 }

.odd {
	background: rgba(255,255,255,0.45);
}
.section {
	padding-top: 40px;
	padding-bottom: 60px;
}

.text-center h1 {
	padding-bottom: 20px;
	font-size: 50px;}


#blogHeader {
	margin-bottom: 20px;
}
span{
    margin-right: 10px;
}
.col-md-8{
	background-color: gray;
}

.blogImg {
    width: 100%;
    margin-bottom: 10px;
}

.userImg {
  position: absolute;
  border-radius: 50%;
  bottom: -25px;
  left: 45px;
  height: 60px;
  width: 60px;
}

.postInfo {
	margin-bottom: 20px;
	font-style: italic;
}
#blogHeader {
	font-family: 'Josefin Sans', sans-serif;
}

#blog_posts {
	font-family: 'Josefin Sans', sans-serif;
}

.blogrow {
	margin-bottom: 30px;
}


.title {
	padding-bottom: 10px;
	font-size: 40px;
	font-family: 'Josefin Sans', sans-serif;
}

.header {
	/*position: relative;*/
	position: relative;
	height: 90vh;
	width: 100%;
	/*background-color: orange*/

}

.profile {
	font-size: 22px;
	font-family: 'Quicksand';
	margin-top: 15px;
}
body {
	background: url(bg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
}

.header-content {
	position : relative;
	width : 50%;
	height : 50%;
	top:25%;
	margin : 0 auto;
	padding-top: 50px;
}

.header-name {
	color: white;
	font-size: 60px; 
	font-family: 'Josefin Sans', sans-serif;

}

.header-sub {
	color: white;
	font-size: 27px;
	font-family: 'Josefin Sans', sans-serif;
}


.logo {
	height: 8vw;
	margin-bottom: 15px;
/*	border: 1px solid black;
*/}

#experiences {
	font-family: 'Josefin Sans', sans-serif;

	/*background-color: #d5ccff;*/
}

#contact {
	font-family: 'Josefin Sans', sans-serif}
}

.footer, .push {
	height: 155px; /* .push must be the same height as .footer */
}

.general_text {
	font-family: 'Quicksand';
	font-size: 18px;
}